version: '3'
services:
  db:
    image: postgres
    #user: "1000"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment: 
      POSTGRES_PASSWORD: password
    ports:
        - "5432:5432"
  web:
    build: ../
    #command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - ../:/app
    environment:
      - RAILS_ENV=development
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - RAILS_MAX_THREADS
     
 #     REDIS_URL: "redis://redis:6379/12"
    ports:
      - "3000:3000"
    depends_on:
      - db
  
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
        - "5050:80"
    depends_on: 
        - db
    restart: unless-stopped
    volumes:
        - pgadmin:/root/.pgadmin
volumes:
  db-data:
  pgadmin: